@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Mouse Memoirs', sans-serif;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @apply bg-[url(assets/images/background-mobile.svg)];
  }
}
